<!-- templates/cart/checkout.html -->
{% extends "shopapp/base.html" %}

{% block container %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
        <h1 class="text-3xl font-bold mb-6 text-center">Checkout</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="space-y-4">
                {% for field in form %}
                <div>
                    {% if forloop.first %}
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">Фамилия Имя(ФИО)</label>
                    {% elif forloop.counter == 2 %}
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">Телефон</label>
                    {% else %}
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
                    {% endif %}
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded mt-4">Place Order</button>
        </form>
    </div>
</div>

<style>
    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form input[type="number"],
    form textarea,
    form select {
        width: 90%;
        border: 1px solid #d1d5db; /* Tailwind gray-300 color */
        padding: 0.5rem; /* Tailwind py-2 px-4 */
        border-radius: 0.375rem; /* Tailwind rounded-md */
        margin-top: 0.25rem; /* Tailwind mt-1 */
    }
</style>
{% endblock %}
